<section>
  <div class="page-header">
    <h1>Main Menu</h1>
    </div>
  <div class="list-group">

    <div data-ng-repeat="cuisine in vm.cuisines"

       data-ui-sref="cuisines.view({ cuisineId: cuisine._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Created on
        <span data-ng-bind="cuisine.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="cuisine.user" data-ng-bind="cuisine.user.displayName"></span>
        <span data-ng-if="!cuisine.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="cuisine.name"></h4>
       <img ng-src="{{cuisine.img}}" class="img-thumbnail user-profile-picture">

        <a class="btn btn-primary"
       data-ui-sref="cuisines.edit({ cuisineId: cuisine._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove(cuisine)">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    </div>

  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.cuisines.$resolved && !vm.cuisines.length">
    No Cuisines yet, why don't you <a data-ui-sref="cuisines.create">create one</a>?
  </div>
</section>
